<div class="navigation">
    <div class="container">
        <nav>
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:">Go Ticket</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:">Home</a></li>
                        <li><a href="#/login">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="content">
        <div class="detail-table" ng-repeat="files in allFiles">
            <h1 ng-bind="files.title"></h1>
            <hr/>
            <div class="icon-container">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </div>
            <p ng-bind="files.description"> </p>
            <span> <b>Date: </b> {{files.submitionDate}}</span>
            <a href="Docs/{{files.fileName}}">Download</a>
        </div>
    </div>
</div>
<p>Success ! You're logged in!!</p>

<a href="Docs/purposalFYP.docx" target='_blank'
   title="Click here to download a Purposal document">
    <i class="fa fa-cloud-download" aria-hidden="true"></i>
</a>

