body {
    background: url("../../images/body-bg.jpg")no-repeat;
    background-size: cover;
}
.login-container {
    width: 100%;
    display: inline-block;
    padding: 30px 0;
    text-align: center;
}
.login-container h3 {
    text-transform: uppercase;
    margin: 30px 0;
    color: white;
    font-weight: bold;
}
.login-container header {
    background: white;
    display: inline-block;
    padding: 13px 0;
}
.login-container form {
    width: 50%;
    display: block;
    margin: 30px auto 0 auto;
    background: #7c7d7d;
    padding: 30px 40px;
}
.login-container form label {
    float: left;
    font-size: 18px;
}
.login-container form span {
    color: #801212;
    text-transform: uppercase;
}
.login-container form i{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}
.login-container form button {
    background: #c3c3c3;
    color: black;
    padding: 10px 40px;
    font-size: 18px;
    margin-top: 10px;
}